@use "../../partial/color.sass" as *;
@use "../../partial/flex.sass" as *;

footer{
    width: 100%;
    padding: 20px;
    font-size: 12px;
    color: $site-header-color;
    background-color: $site-footer-bg-color;
    @include flex($display: flex, $direction: column, $justify: center);
    align-content: space-around;

    .footer-icons-list{
        width: 120px;
        margin-bottom: 10px;
        @include flex($display: flex, $justify: space-around);

        .icon{
            width: 25px;
            height: 25px;
        }
    }

}