@use "../partial/color.sass" as *
@use "../partial/flex.sass" as *

#homepageContainer
    width: 100%
    height: 100%
    @include flex($display: flex, $direction: column, $justify: space-between, $align: center)

#searchArea
    width: 100%
    height: 600px
    @include flex($display: flex, $direction: column, $justify: space-around)

.search-container
    width: 60%

#searchArea .search-container form
    width: 100%

#searchBar
    width: 100%
    padding: 15px
    box-shadow: $search-shadow
    @include flex($display: flex)

#searchBar input
    width: 90%
    padding: 5px

#searchBar div
    width: 10%
    height: 20px
    background: url("../../images/search-icon.png") no-repeat center
    background-size: contain

#resultArea
    width: 100%
    height: 200px
    overflow: auto
    box-shadow: $search-shadow

#resultArea ul
    width: 100%

#firstGenSquad
    width: 300px
    height: 200px
    background: url("../../images/gen1squad.png") no-repeat
    background-size: contain

.pokemon-item
    padding: 10px

.pokemon-item:hover
    color: $site-header-color
    background-color: $site-main-bg-color